@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2840;
    color: white;
    text-align: center;
    padding: 35px 0;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #253C8E;
    /* Adiciona uma linha de contorno azul na parte inferior */
}

/* Container para estilizar e manter a logo na esquerda logo após o menu */
.Logo-Puc-Bet {
    transform: scale(0.28);
    /* Reduz a imagem para 28% do tamanho original */
    display: flex;
    justify-content: flex-end;
    position: absolute;
    /* Posiciona o container de botões */
    left: 10px;
    /* Alinha o container à esquerda */
    top: 50%;
    /* Alinha o container ao centro verticalmente */
    transform: translateY(-50%) scale(0.28);
    /* Ajuste para alinhar exatamente ao centro vertical */
    transition: transform 0.3s ease;
}

/* Container para manter os botões no lado esquerdo */
.button-container-esquerda {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    /* Adiciona espaço ao redor dos botões */
    position: absolute;
    /* Posiciona o container de botões */
    left: 25%;
    /* Alinha o container à esquerda */
    top: 5px;
    /* Alinha o container ao topo */
    transform: translateY(-10%);
    /* Ajuste para alinhar exatamente ao centro vertical */
    list-style-type: none;
    /* Remove o estilo de lista dos <li> */
}

/* Remove a formatação padrão de links */
.button-container-esquerda a {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    text-decoration: none;
    color: inherit;
    display: block;
    /* O link ocupará todo o botão */
    width: 100%;
    height: 100%;
}

#Cassino:hover {
    color: #00d7ff;
    background-color: transparent;

}

#Cassino::after {
    content: "";
    /* Necessário para a barra aparecer */
    position: absolute;
    /* Permite posicionar a barra em relação ao item */
    left: 5%;
    right: 62.5%;
    bottom: 15%;
    /* Posiciona a barra na parte inferior do item */
    height: 3px;
    /* Altura da barra */
    background-color: #007bff;
    /* Cor da barra */
    transform: scaleX(0);
    /* Inicialmente, a barra está escondida */
    transition: transform 0.3s ease;
    /* Transição suave */
}

#Cassino:hover::after {
    transform: scaleX(1);
    /* A barra aparece quando o mouse passa por cima */
}

#Precisa-ajuda:hover {
    color: #00d7ff;
    background-color: transparent;
}

#Precisa-ajuda::after {
    content: "";
    /* Necessário para a barra aparecer */
    position: absolute;
    /* Permite posicionar a barra em relação ao item */
    left: 40%;
    right: 10%;
    bottom: 15%;
    /* Posiciona a barra na parte inferior do item */
    height: 3px;
    /* Altura da barra */
    background-color: #007bff;
    /* Cor da barra */
    transform: scaleX(0);
    /* Inicialmente, a barra está escondida */
    transition: transform 0.3s ease;
    /* Transição suave */
}

#Precisa-ajuda:hover::after {
    transform: scaleX(1);
    /* A barra aparece quando o mouse passa por cima */
}

/* Estilo do botão "Cassino" */
#Cassino {
    background-color: transparent;
    /* Sem fundo */
    color: #ffffff;
    /* Texto branco */
    border: none;
    /* Remove a borda */
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo do botão "Precisa-ajuda" */
#Precisa-ajuda {
    background-color: transparent;
    /* Azul-marinho */
    color: #ffffff;
    /* Texto branco */
    border: none;
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1F2840;
    color: #ffffff;
    text-align: center;
}

.container {
    max-width: 60vw;
    padding: 2vw;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    font-size: 10vw;
    font-weight: bold;
    margin-bottom: 1vw;
    color: #e8e8e8;
}

h2 {
    font-size: 2.4vw;
    margin-bottom: 2vw;
    color: #e8e8e8;
}

p {
    font-size: 1.8vw;
    color: #aaaaaa;
    margin-bottom: 3vw;
}

.back-home {
    padding: 1vw 2vw;
    font-size: 1.6vw;
    color: #ffffff;
    background-color: #5D5A88;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
}

.back-home:hover {
    background-color: transparent;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

footer {
    background-color: #1F2840;
    color: white;
    text-align: center;
    padding: 2vw 0;
    padding-left: 2vw;
    padding-right: 2vw;
    position: fixed;
    bottom: -10vw;
    width: 100%;
    border-top: 2px solid #253C8E;
    transition: bottom 0.5s ease;
    visibility: hidden;
}

.button-container-footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: flex-end;
    padding: 2vw;
    position: absolute;
    right: 0;
    top: 0;
    list-style-type: none;
}

.button-container-footer a {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;
}

#Central-Ajuda {
    background-color: #5D5A88;
    color: #ffffff;
    border: none;
    margin: 0 1vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    font-size: 1.6vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Central-Ajuda:hover,
#Sobre-nos:hover {
    background-color: #037;
}

#Sobre-nos {
    background-color: transparent;
    color: #ffffff;
    border: none;
    margin: 0 1vw;
    padding: 1vw 2vw;
    border-radius: 2vw;
    font-size: 1.6vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Media Queries */
@media (max-width: 768px) {
    header, footer {
        padding: 4vw 2vw;
    }

    .Logo-Puc-Bet {
        transform: scale(0.15);
    }

    .button-container-direita, .button-container-esquerda, .button-container-footer {
        padding: 0vw;
    }

    #Login, #Register, #Cassino, #Precisa-ajuda, #Central-Ajuda, #Sobre-nos {
        font-size: 3vw;
        padding: 2vw 4vw;
    }

    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 4vw;
    }

    p {
        font-size: 3vw;
    }

    .back-home {
        font-size: 3vw;
        padding: 2vw 4vw;
    }
}
