@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: #1F2840;
    color: white;
    text-align: center;
    padding: 35px 0;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 2px solid #253C8E;
    /* Adiciona uma linha de contorno azul na parte inferior */
}

/*Container para estilizar e manter a logo na esquerda logo apos o menu*/
.Logo-Puc-Bet {
    transform: scale(0.28);
    /* Reduz a imagem para 50% do tamanho original */
    display: flex;
    justify-content: flex-end;
    position: absolute;
    /* Posiciona o container de botões */
    left: -120px;
    /* Alinha o container à esquerda */
    top: -45px;
    /* Alinha o container ao topo */
}

/* Container para manter os botões no lado direito */
.button-container-direita {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    /* Adiciona espaço ao redor dos botões */
    position: absolute;
    /* Posiciona o container de botões */
    right: 0;
    /* Alinha o container à direita */
    top: 5px;
    /* Alinha o container ao topo */
    transform: translateY(-10%);
    /* Ajuste para alinhar exatamente ao centro vertical */
    list-style-type: none;
    /* Remove o estilo de lista dos <li> */
}

/* Remove a formatação padrão de links */
.button-container-direita a {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    text-decoration: none;
    color: inherit;
    display: block;
    /* O link ocupará todo o botão */
    width: 100%;
    height: 100%;
}

/* Estilo do botão "Login" */
#Login {
    background-color: transparent;
    /* Sem fundo */
    color: #ffffff;
    /* Texto branco */
    border: none;
    /* Remove a borda */
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover para o botão "Login" */
#Login:hover {
    background-color: #037;
    /* Azul-marinho mais claro ao passar o mouse */
}

/* Estilo do botão "Register" */
#Register {
    background-color: #5D5A88;
    /* Azul-marinho */
    color: #ffffff;
    /* Texto branco */
    border: none;
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Efeito hover para o botão "Register" */
#Register:hover {
    background-color: #037;
    /* Azul-marinho mais claro ao passar o mouse */
}

/* Estilo para o botão */
.open-popup-btn {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5D5A88;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.open-popup-btn:hover {
    background-color: #037;
}

/* Estilo para o fundo do modal */
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo para o modal */
.modal {
    background-color: #1F2840;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.5s;
}

.modal h2 {
    margin-bottom: 20px;
    color: #333;
}

.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-sizing: border-box;
}

.modal button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #5D5A88;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #037;
}

.close-btn {
    color: #aaa;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-btn:hover {
    color: #555;
}

/* Animação para o modal */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

/* Container para manter os botões no lado esquerdo */
.button-container-esquerda {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    /* Adiciona espaço ao redor dos botões */
    position: absolute;
    /* Posiciona o container de botões */
    left: 25%;
    /* Alinha o container à esquerda */
    top: 5px;
    /* Alinha o container ao topo */
    transform: translateY(-10%);
    /* Ajuste para alinhar exatamente ao centro vertical */
    list-style-type: none;
    /* Remove o estilo de lista dos <li> */
}

/* Remove a formatação padrão de links */
.button-container-esquerda a {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    text-decoration: none;
    color: inherit;
    display: block;
    /* O link ocupará todo o botão */
    width: 100%;
    height: 100%;
}

#Cassino:hover {
    color: #00d7ff;
    background-color: transparent;

}

#Cassino::after {
    content: "";
    /* Necessário para a barra aparecer */
    position: absolute;
    /* Permite posicionar a barra em relação ao item */
    left: 5%;
    right: 62.5%;
    bottom: 15%;
    /* Posiciona a barra na parte inferior do item */
    height: 3px;
    /* Altura da barra */
    background-color: #007bff;
    /* Cor da barra */
    transform: scaleX(0);
    /* Inicialmente, a barra está escondida */
    transition: transform 0.3s ease;
    /* Transição suave */
}

#Cassino:hover::after {
    transform: scaleX(1);
    /* A barra aparece quando o mouse passa por cima */
}

#Precisa-ajuda:hover {
    color: #00d7ff;
    background-color: transparent;
}

#Precisa-ajuda::after {
    content: "";
    /* Necessário para a barra aparecer */
    position: absolute;
    /* Permite posicionar a barra em relação ao item */
    left: 40%;
    right: 10%;
    bottom: 15%;
    /* Posiciona a barra na parte inferior do item */
    height: 3px;
    /* Altura da barra */
    background-color: #007bff;
    /* Cor da barra */
    transform: scaleX(0);
    /* Inicialmente, a barra está escondida */
    transition: transform 0.3s ease;
    /* Transição suave */
}

#Precisa-ajuda:hover::after {
    transform: scaleX(1);
    /* A barra aparece quando o mouse passa por cima */
}

/* Estilo do botão "Cassino" */
#Cassino {
    background-color: transparent;
    /* Sem fundo */
    color: #ffffff;
    /* Texto branco */
    border: none;
    /* Remove a borda */
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo do botão "Precisa-ajuda" */
#Precisa-ajuda {
    background-color: transparent;
    /* Azul-marinho */
    color: #ffffff;
    /* Texto branco */
    border: none;
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*Container para estilizar e manter a logo na esquerda logo apos o menu*/
.Logo-Puc-Bet-sidebar {
    transform: scale(0.1);
    /* Reduz a imagem para 50% do tamanho original */
    display: flex;
    justify-content: flex-end;
    position: absolute;
    /* Posiciona o container de botões */
    left: -97px;
    /* Alinha o container à esquerda */
    top: -58px;
    /* Alinha o container ao topo */
}

.sidebar {
    width: 240px;
    height: calc(95vh - 70px); /* Ajusta a altura para não sobrepor o header e o footer */
    background-color: #0f0f1f;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: width 0.3s ease;
    align-items: flex-start;
    margin: 0;
    position: fixed;
    top: 70px; /* Espaço para o header */
    bottom: 70px; /* Espaço para o footer */
    overflow-y: auto; /* Adiciona a rolagem vertical */
    scrollbar-width: thin; /* Define uma barra de rolagem mais fina */
    scrollbar-color: #00d7ff #0f0f1f; /* Cor da barra de rolagem */
}

/* Estilos para a barra de rolagem no Chrome */
.sidebar::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.sidebar::-webkit-scrollbar-track {
    background: #0f0f1f; /* Cor de fundo da barra */
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #00d7ff; /* Cor da barra de rolagem */
    border-radius: 10px; /* Arredonda as bordas da barra */
}

/* Estilos para a sidebar colapsada */
.sidebar.collapsed {
    width: 70px;
    overflow-y: auto; /* Permite rolagem mesmo quando a sidebar está colapsada */
}

.toggle-btn {
    background-color: transparent;
    font-size: 20px;
    color: #C5C1CE;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 2%;
    /* Ajuste a posição conforme necessário */
    top: 25px;
    /* Ajuste a posição conforme necessário */
}

.logo img {
    height: 15px;
    width: 100px;
    max-width: 100px;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .logo img {
    opacity: 0;
}

.bonus-button button {
    width: 100%;
    padding: 10px;
    background-color: #00d7ff;
    color: #0f0f1f;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar.collapsed .bonus-button button {
    padding: 10px 0;
    text-align: center;
    opacity: 0;
}

.menu h3 {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .menu h3 {
    display: none;
}

.bonus-button button:hover {
    background-color: transparent;
    color: #fff;
}

.menu ul {
    list-style: none;
    padding-left: 0;
}

.menu li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
    /* Add transition for opacity */
}

.menu li:hover {
    color: #00d7ff;
}

.icon {
    margin-right: 10px;
    font-size: 18px;
    transition: margin 0.3s ease;
}

.text {
    font-size: 14px;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .icon {
    margin-right: 0;
}

.sidebar.collapsed .text {
    
    color: transparent;
}

.group-game {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-game .PUCBET-icon.expanded {
    transform: rotate(180deg);
}

.PUCBET-icon {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.game-list {
    list-style: none;
    padding-left: 0;
    max-height: 0;
    display: block; /* Padrão: mostrar a lista */
    transition: max-height 0.3s ease;
    overflow: hidden;
}

.game-list.expanded {
    max-height: 500px; /* Define uma altura máxima quando expandido */
    padding: 5px 0;
}

.game-list.hidden {
    display: none; /* Oculta a lista quando minimizada */
}

/* Estilos para o grupo */
.group-Cassino {
    font-size: 14px;
    color: #aaa;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Cassino-icon {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.group-Cassino .Cassino-icon.expanded {
    transform: rotate(180deg); /* Rotaciona a seta ao expandir */
}

/* Estilos para a lista de jogos do Cassino */
.Cassino-list {
    list-style: none;
    padding-left: 0;
    max-height: 0; /* Inicialmente colapsada */
    overflow: hidden; /* Oculta o conteúdo excedente ao colapsar */
    transition: max-height 0.5s ease, padding 0.3s ease; /* Suaviza a expansão/colapso */
}

/* Expansão da lista */
.Cassino-list.expanded {
    max-height: 1000px; /* Define uma altura máxima ao expandir */
    padding: 5px 0;
}

.sidebar-link {
    text-decoration: none; /* Remove sublinhado */
    color: inherit; /* Herdar cor do pai (sem cor de link padrão) */
    display: flex;
    align-items: center;
}

/* Opcional: para manter o estilo de hover como nos outros itens */
.sidebar-link:hover {
    color: #fff; /* Cor do texto ao passar o mouse, ajustável */
}

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 0px;
    /* Adiciona espaço equivalente à altura do header */
    background-color: #1F2840;
    display: flex;
    min-height: 100vh;
    /* Garante que o body ocupe pelo menos a altura total da tela */
    flex-direction: column;
    /* Alinha os elementos verticalmente */
    height: 100vh;
    margin: 0;
    transition: background 0.2s linear;
}

/* Seção sobre nós */
main {
    padding: 20px;
    margin-left: 50px;
    text-align: center;
    flex: 1;
    /* Ocupa o espaço restante */
    color: white;
}

section p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

/* Efeitos visuais no hover */
h2:hover,
p:hover,
ul li:hover {
    color: #00d7ff;
}

/* Cor de fundo de destaque para o conteúdo e Seção de conteúdo */
section {
    max-width: 900px;
    margin: 0 auto;
    background-color: #00076b00;
    border-radius: 15px;
    padding: 30px;
    margin-top: 80px;
    /* Espaço abaixo do header fixo */
}

#crash-history {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#crash-history h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

#history {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.crash-history-item {
    margin-bottom: 5px;
    font-size: 14px;
    color: #444;
}

#game-container {
    text-align: center;
    background: rgba(34, 34, 34, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    position: relative;
    width: 100%;
    max-width: 200%;
    height: 550px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#crash-ball {
    position: absolute;
    bottom: 80px; /* Ajuste o valor conforme necessário para a bolinha ficar acima do botão de bet */
    left: 50%; /* Centraliza a bolinha horizontalmente */
    transform: translateX(-50%); /* Garante que a bolinha fique centralizada */
    width: 20px; /* Ajuste o tamanho conforme necessário */
    height: 20px;
    border-radius: 50%; /* Torna a bolinha redonda */
    background-color: red; /* Cor da bolinha, pode ser alterada */
    visibility: hidden; /* Inicialmente invisível até o jogo começar */
}


/* Estilo para centralizar o contador de countdown */
#countdown {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;  /* Inicialmente escondido */
    z-index: 10;
}

#multiplier{
    position: absolute;
    top: 20px;
    color: #fff;
    font-size: 24px;
}

#buttons {
    position: absolute;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
}

button:hover:not(:disabled) {
    background-color: #2980b9;
}

#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: #ff0000;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.5s, bottom 0.5s;
}

#toast.show {
    opacity: 1;
    bottom: 50px;
}

#bet-placed-message {
    position: absolute;
    top: 50%;  /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para que o texto fique completamente centralizado */
    font-size: 2rem; /* Tamanho da fonte */
    color: white; /* Cor do texto */
    font-weight: bold;
    display: none; /* Inicialmente oculta */
    z-index: 10; /* Certifica-se de que o texto fique acima de outros elementos */
}


footer {
    background-color: #1F2840;
    color: white;
    text-align: center;
    padding: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    bottom: 0;
    /* Alinha o footer na parte inferior */
    left: 0;
    /* Alinha o footer à esquerda */
    right: 0;
    /* Alinha o footer à direita */
    border-top: 2px solid #253C8E;
    /* Linha de contorno azul */
    margin-top: 20px;
    /* Espaçamento para o conteúdo acima */
    z-index: 1000;
    /* Coloca o footer acima de outros elementos */
}

.button-container-footer {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    /* Adiciona espaço ao redor dos botões */
    position: absolute;
    /* Posiciona o container de botões */
    right: 0;
    /* Alinha o container à direita */
    top: 0;
    /* Alinha o container ao topo */
    list-style-type: none;
    /* Remove o estilo de lista dos <li> */
}

/* Remove a formatação padrão de links */
.button-container-footer a {
    font-family: 'Poppins', sans-serif;
    /* Fonte para botões */
    text-decoration: none;
    color: inherit;
    display: block;
    /* O link ocupará todo o botão */
    width: 100%;
    height: 100%;
}

#Central-Ajuda {
    background-color: #5D5A88;
    /* Azul-marinho */
    color: #ffffff;
    /* Texto branco */
    border: none;
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#Central-Ajuda:hover {
    background-color: #037;
    /* Azul-marinho mais claro ao passar o mouse */
}

#Sobre-nos:hover {
    background-color: #037;
    /* Azul-marinho mais claro ao passar o mouse */
}

#Sobre-nos {
    background-color: transparent;
    /* Sem fundo */
    color: #ffffff;
    /* Texto branco */
    border: none;
    margin: 0 5px;
    /* Espaço entre os botões */
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}